<!DOCTYPE html>
<html>
  <head>
    <title>Gather</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%# <%= stylesheet_link_tag 'tailwind', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%# <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %> 
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class=''>
  <%# <%= link_to "Home", root_path %> 
<%# <%= link_to "About", about_path %> 
<%# <%= link_to "Contact", contact_path %> 



<%# <---------------------------Flash Message-----------------------------> %>
<%# <%= flash.each do |name,message|  %>  
   <%# <%= content_tag(:div,message,class: "alert alert-info #{name}"%> 
<%# # <% end %>  

<p class="notice"><%= notice %></p> 
<p class="alert"><%= alert %></p> 


    <%= yield %>
  </body>
</html>
